<nav>
    <div id="menu" class="collapse navbar-collapse">
        <ul>
            <li class="menu-item"><a href="#">iPhone</a></li>
            <li class="menu-item"><a href="#">Samsung</a></li>
            <li class="menu-item"><a href="#">HTC</a></li>
            <li class="menu-item"><a href="#">Nokia</a></li>
            <li class="menu-item"><a href="#">Sony</a></li>
            <li class="menu-item"><a href="#">Blackberry</a></li>
        </ul>
    </div>
</nav>