<meta charset="utf-8" />
<title>
    <%= title%>
</title>
<link rel="stylesheet" href="/static/site/css/bootstrap.css">
<link rel="stylesheet" href="/static/site/css/home.css">
<script src="/static/site/js/jquery-3.3.1.js"></script>
<script src="/static/site/js/bootstrap.js"></script>