<nav>
    <div id="menu" class="collapse navbar-collapse">
        <ul>
            <!-- categories được sinh ra bởi res.locals.categories -->
            <%for(let category of categories){%>
                <li class="menu-item"><a href="/category-<%= category.slug%>.<%= category._id%>">
                        <%=category.title%>
                    </a></li>
                <%}%>
        </ul>
    </div>
</nav>